.categories {
  background-color: #fff;
  border: 1px solid #F2F2F2;

  &__title {
    text-align: center;
    border-bottom: 1px solid #000;
  }

  &__row {
    margin: 2px 10px 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
  }

  &__cell {
    display: table-cell;
    width:  100%;
  }

  &__item-border {
    border: 1px solid #000;
    padding: 0px 6px;
    margin-right: 10px
  }

}