// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.devise_loggin {

  position: relative;
  left: 40%;
  padding-bottom: 40px;

}