.searchform {
    background-color: #fff;
    height: 64px;
    line-height: 64px;
    text-align: center;

  &__field {
    width: 90%;
    height: 34px;
    font-size: 16px;
    background-color: #F4F4F4;
    border:0;
  }
}