  <% flash.each do |type, message| %>
       <% if type === 'notice' %>
        <div class="alert alert-success" role="alert"><%= message %></div>
       <% else %>
         <div class="alert alert-danger" role="alert"><%= message %></div> 
       <% end %>
  <%end%>
